@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html body {
  min-height: 100vh;
}

html,
html body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.MuiTabs-indicator {
  background-color: #00d3af;
}
.MuiTab-root {
  color: #00d3af !important;
}

.appmixer-container > div:first-child {
  left: 140px;
  top: 20px;
  right: 20px;
  bottom: 20px;
}

.loading {
  position: relative;
}

.loading span {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #92929c;
  animation: loading-animation 1.2s infinite;
}

.loading span:nth-child(1) {
  left: 8px;
  animation-delay: -1s;
}

.loading span:nth-child(2) {
  left: 16px;
  animation-delay: -2s;
}

.loading span:nth-child(3) {
  left: 24px;
  animation-delay: -3s;
}

@keyframes loading-animation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@media (max-height: 57rem) {
  .menu-list-item {
    height: 36px;
  }
  .menu-list-item-active {
    height: 35px;
    width: 35px;
  }
  .menu-list-container {
    gap: 24px;
  }
  .menu-list-arrow {
    height: 0;
  }
  /* .pdf-container {
    max-height: calc(100vh - 31vh);
  } */
}
